### For selected ClearCut AOI prepare Planet and Sentinel2 images. Show clearcuts on AOI. Compare quality

In [49]:
import os
import rasterio
import pandas as pd
import numpy as np
import geopandas as gpd
import rasterio.mask
import tempfile
import shapely
import re

from rasterio.features import rasterize, shapes
from rasterio.merge import merge
from shapely.geometry import Polygon, shape, box
from pathlib import Path
from datetime import datetime, timedelta

from sentinel2download.downloader import Sentinel2Downloader

In [50]:
BASE = f"/home/{os.getenv('NB_USER')}/work"

WORKDIR = os.path.join(BASE, "notebooks/planet/planet_vs_sentinel")
IMGDIR = os.path.join(BASE, "satellite_imagery")
RESULTS_DIR = os.path.join(BASE, "results/planet/planet_vs_sentinel")

### Read AOI

In [51]:
def read_aoi(path, crs="epsg:4326"):
    df = gpd.read_file(path) 
    if str(df.crs) != crs:
        print(f"{path}: {df.crs}. Transform to {crs}")
    df.to_crs(crs, inplace=True)
    return df

In [56]:
aoi_path = os.getenv("AOI", os.path.join(WORKDIR, "aoi/Harkavets_20190501_20190518.geojson")) 
# Pervukhynka_20190801_20190831.geojson 
# Horodnie_20191001_20191101.geojson
# Harkavets_20190501_20190518.geojson

aoi = read_aoi(aoi_path)

In [57]:
aoi

                                            geometry
0  POLYGON ((35.12329 50.16123, 35.08956 50.13252...

In [58]:
start_date = '2019-05-01'
end_date = '2019-05-18'

In [59]:
def filter_planet(grid, start_date, end_date):
    # grid.acquired = pd.to_datetime(grid.acquired)
    grid = grid.loc[(grid.ground_control == "1") & 
                    (grid.item_type == "PSScene4Band") &
                    (grid.quality_category == "standard") &
                    (grid.cloud_cover == 0) &
                    (grid.acquired >= start_date) &
                    (grid.acquired <= end_date) &
                    (grid.snow_ice_percent == 0) &
                    (grid.clear_percent >= 95)].reset_index(drop=True)
    return grid

In [60]:
def epsg_code(longitude, latitude):
    """
    Generates EPSG code from lon, lat
    :param longitude: float
    :param latitude: float
    :return: int, EPSG code
    """

    def _zone_number(lat, lon):
        if 56 <= lat < 64 and 3 <= lon < 12:
            return 32
        if 72 <= lat <= 84 and lon >= 0:
            if lon < 9:
                return 31
            elif lon < 21:
                return 33
            elif lon < 33:
                return 35
            elif lon < 42:
                return 37

        return int((lon + 180) / 6) + 1

    zone = _zone_number(latitude, longitude)

    if latitude > 0:
        return 32600 + zone
    else:
        return 32700 + zone

In [61]:
def _intersect(aoi, grid, limit=1):
    """
    Find all tiles that intersects given region with area >= limit km2
    :param limit: float, min intersection area in km2
    :return: (GeoDataFrame, epsg), precised intersected tiles and UTM zone code
    """

    
    # Get the indices of the tiles that are likely to be inside the bounding box of the given Polygon
    geometry = aoi.geometry[0]

    tiles_indexes = list(grid.sindex.intersection(geometry.bounds))
    intersected_grid = grid.loc[tiles_indexes]
    
    # print(intersected_grid)

    # Make the precise tiles in Polygon query
    intersected_grid = intersected_grid.loc[grid.intersects(geometry)]

    # intersection area
    epsg = epsg_code(geometry.centroid.x, geometry.centroid.y)

    # to UTM projection in meters
    aoi.to_crs(epsg=epsg, inplace=True)
    intersected_grid.to_crs(epsg=epsg, inplace=True)

    return intersected_grid, epsg

In [62]:
def _overlap_aoi_row(aoi, bbox_intersected, crs):
    
    result = list()

    intersected = bbox_intersected.copy()
    rest_aoi = gpd.GeoDataFrame([aoi], crs=crs)
    
    
    try:
        while rest_aoi.area.sum() > 0:
       
            res_intersection = gpd.overlay(rest_aoi, intersected, how="intersection") # intersection area with tiles
            biggest_area_id = res_intersection.area.argmax() # max intersected area
            # print("res_intersection")
            # print(res_intersection)

            tile_id = res_intersection.loc[biggest_area_id, "Name"]
            intersected_aoi = res_intersection.loc[biggest_area_id, "geometry"]
        
            # print(tile_id)
        
            result.append({"Name": tile_id, "geometry": intersected_aoi}) # store max intersected aoi and tile geometry
            biggest_tile = intersected.loc[intersected.Name == tile_id]

            rest_aoi = gpd.overlay(rest_aoi, biggest_tile, how="difference") # aoi minus biggest tile
            intersected = intersected[intersected.Name != tile_id] # remove used tile
    except Exception as ex:
        print(f"Error: {str(ex)}")
        
    return result

In [63]:
def overlap(aoi, grid):
    # first, find bbox intersection
    bbox = box(*aoi.total_bounds)
    bbox = gpd.GeoDataFrame(geometry=[box(*aoi.total_bounds)], crs=aoi.crs)
    
    bbox_intersected, epsg = _intersect(bbox, grid)
    # print(bbox_intersected)
    
    # precise intersection
    projected_aoi = aoi.copy().to_crs(epsg=epsg)
    
    results = list()
    for row in projected_aoi.itertuples():
        result = _overlap_aoi_row(row, bbox_intersected, projected_aoi.crs)
        results.extend(result)
        
    return gpd.GeoDataFrame(results, crs=epsg)

### 1. Planet images

In [64]:
planet_grid = gpd.read_file(os.path.join(BASE, "grids/planet_grid.geojson"), driver="GeoJSON")
planet_grid.head(1)

,id,acquired,anomalous_pixels,black_fill,cloud_cover,columns,epsg_code,grid_cell,ground_control,gsd,...,clear_percent,cloud_percent,heavy_haze_percent,light_haze_percent,shadow_percent,snow_ice_percent,visible_confidence_percent,visible_percent,year,geometry
0,1336590_3761711_2018-04-08_1021,2018-04-08T07:51:44,0.01,0.34,0.006,8000,32637,3761711,1,3.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,"POLYGON ((37.68174 48.95690, 37.67582 49.18171..."

In [65]:
planet_grid = filter_planet(planet_grid, start_date, end_date)

In [66]:
planet_grid = planet_grid[['id', 'acquired', 'geometry']].copy()
planet_grid.rename(columns={"id": "Name"}, inplace=True)

In [67]:
planet_grid.tail(3)

,Name,acquired,geometry
16,20190505_081453_1105,2019-05-05T08:14:53,"POLYGON ((35.15048 50.10366, 35.15456 50.11416..."
17,20190505_081454_1105,2019-05-05T08:14:54,"POLYGON ((35.11674 50.01568, 35.12943 50.04844..."
18,20190515_065302_0f2d,2019-05-15T06:53:02,"POLYGON ((35.00014 50.01390, 34.99619 50.02457..."

In [68]:
planet_tiles = overlap(aoi, planet_grid)

In [69]:
planet_tiles

                   Name                                           geometry
0  20190503_065912_0f3d  POLYGON ((651654.364 5558715.355, 654381.620 5...

In [70]:
planet_tiles = planet_tiles.merge(planet_grid[['Name', 'acquired']], on='Name')

In [71]:
planet_tiles

,Name,geometry,acquired
0,20190503_065912_0f3d,"POLYGON ((651654.364 5558715.355, 654381.620 5...",2019-05-03T06:59:12

In [72]:
planet_tiles['date'] = planet_tiles.acquired.apply(lambda date:
                                                   datetime.strptime(date, '%Y-%m-%dT%H:%M:%S').strftime('%Y-%m-%d'))

In [73]:
planet_tiles

,Name,geometry,acquired,date
0,20190503_065912_0f3d,"POLYGON ((651654.364 5558715.355, 654381.620 5...",2019-05-03T06:59:12,2019-05-03

In [74]:
def scale(img, a=1, b=255, nodata=0.0):
    # palnet tiles uint16: [1; 65535], nodata is setted to 0.0 value. Be careful with comprassions!
    min = 1 # np.nanmin(img)
    max = np.nanmax(img)
    img = np.float32(img)
    
    scaled = (b - a) * (img - min) / (max - min) + a    
    scaled = np.around(scaled)    
    scaled[np.isnan(scaled) == True] = nodata
    scaled = scaled.astype(np.uint8)
    return scaled

In [75]:
def crop(input_path, output_path, polygon, name=None, date=None):
    with rasterio.open(input_path) as src:
        out_image, out_transform = rasterio.mask.mask(src, [polygon], crop=True)
        out_meta = src.meta
                
        out_meta.update({"driver": "GTiff",
                 "height": out_image.shape[1],
                 "width": out_image.shape[2],
                 "transform": out_transform,
                 "nodata": 0, 
                 })
        
        # if out_meta['dtype'] == 'uint16':
        #    print(out_image)
        #    print(f"Image is in {out_meta['dtype']} type. Convert to uint8!")
        #    out_image = scale(out_image[0, :, :])
            
        #    out_image = out_image.astype(np.uint8)
        #    scaled = out_image
        #    out_meta.update({"dtype": rasterio.uint8, "count": 1})
    
        
    # print(out_meta)
    os.makedirs(os.path.dirname(output_path), exist_ok=True)
    with rasterio.open(output_path, "w", **out_meta) as dest:
        if name:
            dest.update_tags(name=name)
        if date:
            dest.update_tags(start_date=date, end_date=date)
        dest.write(out_image)

In [76]:
def create_mosaic(files_to_mosaic, results_dir, name, start_date=None, end_date=None):
    src_files_to_mosaic = list()
    for fp in files_to_mosaic:
        src = rasterio.open(fp)
        src_files_to_mosaic.append(src)
    
    # crs of first input will be used
    mosaic, out_trans = merge(src_files_to_mosaic)
    out_meta = src.meta.copy()

    # Update the metadata
    out_meta.update({"driver": "GTiff",
                     "height": mosaic.shape[1],
                     "width": mosaic.shape[2],
                     "transform": out_trans,
                     })
    
    out_fp = os.path.join(results_dir, f"{name}_mosaic.tif.temp") 
    # print(out_fp)
    os.makedirs(os.path.dirname(out_fp), exist_ok=True)
    
    with rasterio.open(out_fp, "w", **out_meta) as dest:
        if name:
            dest.update_tags(name=name)
        if start_date:
            dest.update_tags(start_date=start_date)
        if end_date:
            dest.update_tags(end_date=end_date)
        dest.write(mosaic)
        
    os.rename(out_fp, out_fp[:-5])

### Prepair Planet images for AOI

In [78]:
print("Start calculations...")
aoi_name = Path(aoi_path).stem
for row in planet_tiles.itertuples():
        
    name = f"{aoi_name}_{row.Name}"
        
    input_path = os.path.join(IMGDIR, f"Planet/PSScene/{row.Name}/visual/{row.Name}_3B_Visual.tif")
    print(input_path)
    output_path = os.path.join(RESULTS_DIR, f"{name}_planet_cropped.tif.temp")
    print(output_path)
        
    crop(input_path, output_path, row.geometry, name, row.date)
    os.rename(output_path, output_path[:-5])
    
print(f"Calculations finished")

Start calculations...
/home/jovyan/work/satellite_imagery/Planet/PSScene4Band/20190503_065912_0f3d/visual/20190503_065912_0f3d_3B_Visual.tif
/home/jovyan/work/results/example/planet_vs_sentinel/Harkavets_20190501_20190518_20190503_065912_0f3d_planet_cropped.tif.temp
Calculations finished

### 2. Sentinel2 images

In [79]:
sentinel_grid_path = os.path.join(BASE, "grids/sentinel2grid.geojson")

In [80]:
sentinel_grid = gpd.read_file(sentinel_grid_path)
sentinel_grid.head()

    Name                                           geometry
0  01CCV  POLYGON Z ((180.000 -73.060 0.000, 176.865 -72...
1  01CCV  POLYGON Z ((-180.000 -72.073 0.000, -179.627 -...
2  01CDH  POLYGON Z ((180.000 -83.809 0.000, 174.713 -83...
3  01CDH  POLYGON Z ((-180.000 -82.826 0.000, -176.297 -...
4  01CDJ  POLYGON Z ((180.000 -82.913 0.000, 175.748 -82...

In [81]:
sentinel_tiles = overlap(aoi, sentinel_grid)
sentinel_tiles

    Name                                           geometry
0  36UXA  POLYGON Z ((651654.364 5558715.355 0.000, 6543...

In [82]:
def shift_dates(start_date, end_date, delta=5, format='%Y-%m-%d'):
    start = datetime.strptime(start_date, format)
    end = datetime.strptime(end_date, format)
    
    start = start - timedelta(days=delta)
    end = end + timedelta(days=delta)
    
    return datetime.strftime(start, format), datetime.strftime(end, format)

In [83]:
start, end = shift_dates(planet_tiles.date.min(), planet_tiles.date.max()) 
start, end

('2019-04-28', '2019-05-08')

#### Load Sentinel2 images

In [84]:
API_KEY = os.path.join(BASE, ".secret/sentinel2_google_api_key.json")
LOAD_DIR = os.path.join(BASE, "satellite_imagery")


BANDS = {'TCI', }
CONSTRAINTS = {'NODATA_PIXEL_PERCENTAGE': 10.0, 'CLOUDY_PIXEL_PERCENTAGE': 5.0, }
PRODUCT_TYPE = 'L2A'

In [85]:
def load_images(api_key, tiles, start_date, end_date, output_dir, product_type="L2A"):
    loader = Sentinel2Downloader(api_key)
    loadings = dict()
    for tile in tiles:
        print(f"Loading images for tile: {tile}...")
        loaded = loader.download(product_type,
                                 [tile],
                                 start_date=start_date,
                                 end_date=end_date,
                                 output_dir=output_dir,                       
                                 bands=BANDS,
                                constraints=CONSTRAINTS)
        
        print(f"Loading images for tile {tile} finished")
        loadings[tile] = loaded
    
    # tile_folders = dict()
    # for tile, tile_paths in loadings.items():
    #    tile_folders[tile] = {str(Path(tile_path[0]).parent) for tile_path in tile_paths}
    return loadings

In [86]:
loadings = load_images(API_KEY, sentinel_tiles.Name.values, start, end, LOAD_DIR, PRODUCT_TYPE)

Loading images for tile: 36UXA...
Loading images for tile 36UXA finished

In [87]:
loadings

{'36UXA': [('/home/jovyan/work/satellite_imagery/S2B_MSIL2A_20190505T084609_N0211_R107_T36UXA_20190505T120544/MTD_TL.xml',
   'L2/tiles/36/U/XA/S2B_MSIL2A_20190505T084609_N0211_R107_T36UXA_20190505T120544.SAFE/GRANULE/L2A_T36UXA_A011287_20190505T085250/MTD_TL.xml'),
  ('/home/jovyan/work/satellite_imagery/S2B_MSIL2A_20190505T084609_N0211_R107_T36UXA_20190505T120544/T36UXA_20190505T084609_TCI_10m.jp2',
   'L2/tiles/36/U/XA/S2B_MSIL2A_20190505T084609_N0211_R107_T36UXA_20190505T120544.SAFE/GRANULE/L2A_T36UXA_A011287_20190505T085250/IMG_DATA/R10m/T36UXA_20190505T084609_TCI_10m.jp2')]}

In [88]:
def filter_date(loadings):
    def _find_last_date(folders):        
        dates = list()
        for folder in folders:        
            search = re.search(r"_(\d+)T\d+_", str(folder))
            date = search.group(1)
            date = datetime.strptime(date, '%Y%m%d')
            dates.append(date)    
        last_date = max(dates)
        last_date = datetime.strftime(last_date, '%Y%m%d')
        return last_date
    
    filtered = dict()
    for tile, items in loadings.items():
        try:
            last_date = _find_last_date(items)
            for file, _ in items:
                if "TCI_10m.jp2" in file and last_date in file:
                    filtered[tile] = file
        except Exception as ex:
            print(f"Error for {tile}: {str(ex)}")
    return filtered

In [89]:
filtered = filter_date(loadings)
filtered

{'36UXA': '/home/jovyan/work/satellite_imagery/S2B_MSIL2A_20190505T084609_N0211_R107_T36UXA_20190505T120544/T36UXA_20190505T084609_TCI_10m.jp2'}

In [90]:
if not filtered:
    raise ValueError("Images not loaded. Change dates or constraints")

### Prepair Sentinel2 images for AOI

In [91]:
with tempfile.TemporaryDirectory(dir=WORKDIR) as tmpdirname:        
    print(f"Сreated temporary directory for calculations: {tmpdirname}")    
    files_to_mosaic = list()
    
    aoi_name = Path(aoi_path).stem
    for row in sentinel_tiles.itertuples():
        
        name = f"{aoi_name}_{row.Name}_sentinel"
        
        input_path = filtered[row.Name]        
        output_path = os.path.join(tmpdirname, f"{name}_cropped.tif")
        
        crop(input_path, output_path, row.geometry)
        files_to_mosaic.append(output_path)
    
    create_mosaic(files_to_mosaic, RESULTS_DIR, name)
    print(f"Calculations finished")

Сreated temporary directory for calculations: /home/jovyan/work/notebooks/example/planet_vs_sentinel/tmp37hfiw1d
Calculations finished

#### Select clearcuts from original file provided by V. Kharmtsov

In [38]:
aoi_name = Path(aoi_path).stem
clearcuts = gpd.read_file("original_clearcuts.geojson")

In [39]:
clearcuts.tail(2)

,img_date,tileID,geometry
210,2019-05-15,20190515_065304_0f2d,"POLYGON ((35.10101 50.13608, 35.10149 50.13608..."
211,2019-05-15,20190515_065304_0f2d,"POLYGON ((35.10310 50.13460, 35.10333 50.13446..."

In [152]:
aoi

   id                                           geometry
0   1  MULTIPOLYGON (((35.27794 50.15967, 35.22820 50...

In [153]:
clearcuts = clearcuts.loc[(clearcuts.img_date >= start_date) & 
                          (clearcuts.img_date <= end_date)]
clearcuts.tail(2)

,img_date,tileID,geometry
189,2019-08-25,20190825_083010_43_105d,"POLYGON ((35.33780 50.10290, 35.33770 50.10298..."
190,2019-08-30,20190830_081707_1021,"POLYGON ((35.41443 50.12672, 35.41444 50.12662..."

In [154]:
aoi_clearcuts = gpd.overlay(clearcuts, aoi, how="intersection") 
aoi_clearcuts.tail(2)

Empty GeoDataFrame
Columns: [tileID, img_date, id, geometry]
Index: []

In [157]:
if not aoi_clearcuts.empty:
    aoi_clearcuts.to_file(os.path.join(WORKDIR, f"{aoi_name}_clearcuts.geojson"), driver='GeoJSON')